body {
    font-family: Sans-serif;
}

p {
    font-size: 16px;
    line-height: 30px;
}

/* navbar styles */
.navbar-default {
  background-color: #000113;
  border-color: #000113;
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000113;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecf0f1;
  background-color: #000113;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000113;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecf0f1;
  background-color: #000113;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #000113;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #000113;
}
.navbar-default .navbar-toggle {
  border-color: #000113;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000113;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #000113;
  }
}
/* end of navbar styles */

/* homepage! */
.width-75-85-95 {
    width: 75%;
}

@media (max-width: 1200px) {
    .width-75-85-95 {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .width-75-85-95 {
        width: 95%;
    }
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    color: white;
    text-align: center;
    background-size: cover;
    margin-bottom: 0px;
}

.btn-group-lg>.btn, .btn-lg {
    margin-top: 20px;
    border-radius: 0px;
}

.row {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.homepage-desc {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.leaderboard-text {
    padding-bottom: 10px;
}

.homepage-column {
    padding-left: 30px;
    padding-right: 30px;
}

@media (max-width: 1200px) {
    .homepage-column {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.footer-background {
    background-color: #2a2f33;
    color: white;
}

.jumbotron-small {
    background-image: url("../images/header.jpg");
    color: white;
    background-size: cover;
    margin-bottom: 0px;
}

.google {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.registration-tweak {
    margin-top: -10px;
}

/* google form stuff */
.google-form {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
}

.google-form iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* google form stuff */

/*sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}

.fill {
    width: 100%;
    height: 100%;
}

.footer-link {
    width:42px;
    height:42px;
    border:0;"
}
